.main-container {
  margin-top: 1em;
  min-height: calc(100vh - 100px);
}

.timesheet-date-container {
  padding: 1.5em 0;
}

.timesheet-date-container .form-group {
  margin-right: 5px;
}

.timesheet-entries-container {
  padding: 0.5em 0;
}

.form-control.hour-entry {
  width: 75px;
}

.timesheet-entry .badge {
  padding: 5px 25px;
}

.timesheet-entry {
  padding: 10px 10px;
  background: #f0f0f0;
  border: 1px solid #d8cccc;
  border-radius: 5px;
  margin-top: 3px;
}

.timesheet-entry .btn {
  margin-top: -3px;
}

.navbar-brand {
  font-family: 'Oswald', sans-serif;
}

.navbar-custom-bg {
  background-color: #663399;
}

.overview-table th,
.overview-table td {
  text-align: center;
  width: 15%;
}

.overview-table td:first-child {
  text-align: left;
}

.overview-table span.progress_indicator {
  width: 100%;
  display: block;
  border-bottom: 5px solid;
}

.api-token {
  position: fixed;
  background: #fff;
  font-family: monospace;
  bottom: 10px;
  right: 10px;
  width: 30em;
  line-height: 50%;
  height: 100px;
  padding: 10px;
  margin: 0 0 10px 0;
  border-radius: 3px;
}