<h2>Sign up</h2>

<%= form_for @conn, user_path(@conn, :create), [as: :registration], fn f -> %>

  <div>
    <label>
      Organisation name
      <%= text_input f, :org_name %>
    </label>
  </div>

  <div>
    <label>
      Email
      <%= text_input f, :email %>
    </label>
  </div>

  <div>
    <label>
      Password
      <%= password_input f, :password %>
    </label>
  </div>

  <div>
    <%= submit "Sign up" %>
  </div>

<% end %>
