@import 'colours';

.main-container {
  margin-top: 1em;
}

.timesheet-date-container {
  padding: 1.5em 0;
}

.timesheet-date-container .form-group {
  margin-right: 5px;
}

.timesheet-entries-container {
  padding: 0.5em 0;
}

.form-control.hour-entry {
  width: 75px;
}

.timesheet-entry .badge {
  padding: 5px 25px;
}

.timesheet-entry {
  padding: 10px 10px;
  background: #f0f0f0;
  border: 1px solid #d8cccc;
  border-radius: 5px;
}

.navbar-brand {
  font-family: 'Oswald', sans-serif;
}
.navbar-custom-bg {
  background-color: $brand-colour;
}

.overview-table {

  th, td {
    text-align: center;
  }

  span.progress_indicator {
    width: 100%;
    display: block;
    border-bottom: 5px solid;
  }
}
