<ul class="navbar-nav mr-auto">
  <li class="nav-item">
    <%= link "Timesheet", to: dashboard_path(@conn, :index), class: "nav-link" %>
  </li>

  <%= if admin?(@conn) do %>
    <%= render AikaWeb.SharedView, "admin_nav.html", conn: @conn %>
  <% end %>

</ul>

<div class="navbar-nav">
  <%= link "Logout #{username(@conn)}", to: session_path(@conn, :delete), class: "nav-item nav-link" %>
</div>
